<div class="container">

  <div class="row">

		<div class="col-md-12">
			<img src="../public/assets/images/burger.png" alt="burger" class="img-responsive center-block">
		</div>

	</div>
  <div class="row">

		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	
	</div>

	<div class="row">

		<div class="col-md-5">
			<h3>Uneaten Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							<h5>{{this.id}}. {{this.burger_name}}
								<form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="btn btn-default">EAT THIS!</button>
								</form>
							</h5>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
</div>


</div>