.img-fluid {
    width: 100% \9;
}


/* * {
    color: red;
} */

.main {
    font-family: 'Monoton', cursive;
    /* color: #ec0000; */
    color: #F6412D;
}

.burgerType {
    color: black;
}

.snacks {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway Dots', cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #FF5607;
}

ul {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.add-brgr {
    font-family: 'Raleway Dots', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.devour-btn {
    text-transform: uppercase;
    border-color: #FFEC19;
}

.brg-form {
    width: 500px;
}

#brgr-inpt,
#btnAdd {
    text-transform: uppercase;
}

#btnAdd {
    color: #FF5607;
    border-color: #FF5607;
}